.editor, .editor .gutter {
  background-color: #000000;
  color: #DEDEDE;
}

.editor.is-focused .cursor {
  border-color: #9F9F9F;
}

.editor.is-focused .selection .region {
  background-color: #424242;
}

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #2A2A2A;
}

.comment {
  color: #969896;
}

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: #EEEEEE;
}

.variable, .support.other.variable, .string.other.link, .string.regexp, .entity.name.tag, .entity.other.attribute-name, .meta.tag, .declaration.tag, .markup.deleted.git_gutter {
  color: #D54E53;
}

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: #E78C45;
}

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: #E7C547;
}

.string, .constant.other.symbol, .entity.other.inherited-class, .entity.name.filename, .markup.heading, .markup.inserted.git_gutter {
  color: #B9CA4A;
}

.keyword.operator, .constant.other.color {
  color: #70C0B1;
}

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level, .markup.changed.git_gutter {
  color: #7AA6DA;
}

.keyword, .storage, .storage.type, .entity.name.tag.css {
  color: #C397D8;
}

.invalid {
  color: #CED2CF;
  background-color: #DF5F5F;
}

.meta.separator {
  color: #CED2CF;
  background-color: #82A3BF;
}

.invalid.deprecated {
  color: #CED2CF;
  background-color: #B798BF;
}

.markup.inserted.diff, .markup.deleted.diff, .meta.diff.header.to-file, .meta.diff.header.from-file {
  color: #FFFFFF;
}

.markup.inserted.diff, .meta.diff.header.to-file {
  color: #718c00;
}

.markup.deleted.diff, .meta.diff.header.from-file {
  color: #c82829;
}

.meta.diff.header.from-file, .meta.diff.header.to-file {
  color: #FFFFFF;
  background-color: #4271ae;
}

.meta.diff.range {
  font-style: italic;
  color: #3e999f;
}
